<%= form_for [:admin , @brewery] do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field(:name, {:class => 'form control'}) %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field(:location, {:class => 'form control'}) %>
  </div>

  <div class="actions">
    <%= form.submit({:class => 'btn btn-primary'}) %>
  </div>
<% end %>
