<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @brewery.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @brewery.location %>
</p>

  <% if current_user.admin? %>
  <%= link_to 'Edit', edit_admin_brewery_path(@brewery), class: "btn btn-outline-dark" %>
  <%end%>
<%= link_to 'Back', breweries_path, class: "btn btn-outline-dark" %>
