<p id="notice"><%= notice %></p>

<h1>
  <%= @beer.name %>
</h1>

<div>
  <h5>Style</h5>
<p>
  <%= @beer.style %>
</p>
  <h5>Brewery</h5>
<p>
  <%= @beer.brewery.name %>
</p>
</div>

<% if @current_user && @current_user.admin? %>
  <%= link_to 'Edit', edit_admin_brewery_path(@beer) %>
<% end %>
<%= link_to 'Back', beers_path, class: "btn btn-outline-dark" %>
