<p id="notice"><%= notice %></p>

<h1>
  <%= @beer.name %>
</h1>

<div>
  <h5>Style</h5>
<p>
  <%= @beer.style %>
</p>
  <h5>Brewery</h5>
<p>
  <%= @beer.brewery.name %>
</p>
</div>
  <% if current_user && current_user.admin? %>
  <%= link_to 'Edit', edit_admin_brewery_path(@beer), class: "btn btn-outline-success" %>
  <%end%>
<%= link_to 'Back', beers_path, class: "btn btn-outline-dark" %>
 <br>

<%= render partial: 'comments/form' %>
<br>

<h3>Comments</h3>

<%# <%<%= render partial: 'beers/comment', collection: @beer.comments.reverse %>


<% @beer.comments.each do |comment|%>
  <p><%= comment.body %></p>
<%end%>