<p id="notice"><%= notice %></p>

<h1>
  <%= @beer.name %>
</h1>

<div>
  <h5>Style</h5>
<p>
  <%= @beer.style %>
</p>

<%= link_to 'Edit', edit_admin_beer_path(@beer), class: "btn btn-outline-primary" %> |
<%= link_to 'Back', beers_path, class: "btn btn-outline-dark" %>
</div>
