<%= form_for [:admin, @beer] do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :style %>
    <%= form.text_field :style %>
  </div>

  <select >
    <%= @breweries.each do |brewery| %>
    <option value='<%= brewery.id %>'><%= brewery.name %></option>
    <% end %>
  </select>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>