<h1>Editing Beer</h1>

<%= render 'form', beer: @beer %>

<%= link_to 'Show', @beer, class: "btn btn-outline-primary" %> 
<%= link_to 'Back', admin_beers_path, class: "btn btn-outline-secondary" %>
<div class="col-md-4 order-md-2 mb-4">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Brewery ID</th>
      <th scope="col">Name</th>
    </tr>
  </thead>

  <tbody>
    <% @breweries.each do |brewery| %>
      <tr>
        <td><%= brewery.id %></td>
        <td><%= brewery.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>